<!-- Levi Miller, Kayley Young -->
<!-- 2/7/24 -->
<!-- homePage.html: homepage for Master Sushi Chef -->
<include href="views/header.html" />
<body>

<div class="container">
    <div class="row">
        <!-- left colum -->
        <div class="col-6">
            <div class="card">
                <h5 id="about">About Master Sushi Chef</h5>
                <div class="card-body">


                </div>
            </div>
        </div>
        <!--right colum -->
        <div class="col-6">
            <div class="image-container">
                <img src="images/sushi.webp" alt="sushi" class="w-100 rounded-5" id="sushiPic">
            </div>
        </div>
    </div>
</div>
</body>
</html>