<!-- Levi Miller, Kayley Young -->
<!-- 2/7/24 -->
<!-- homePage.html: homepage for Master Sushi Chef -->
<html lang="eng">
<include href="views/header.html" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<div id="homeBody">
    <div class="row">
        <!-- left colum -->
        <div class="col-6" id="leftColum">
            <div class="container">
            <div class="card border border-dark">
                <h5 id="about">About Master Sushi Chef</h5>
                <div class="card-body">
                    <p id="aboutUsText">
                        Here at MasterSushi Chef we strive to use the freshest ingredients.We get daily deliveries of the
                        highest quality fish. We offer main dishes, appetizers and a build your roll option. For returning
                        customers we offer a rewards programs that offers up to 15% off your order.
                    </p>
                </div>
            </div>
        </div>
        </div>
        <!--right colum -->
        <div class="col-6" id="rightColum">
            <div class="container">
            <div class="image-container">
                <img src="images/sushi.webp" alt="sushi" class="w-100 rounded-5" id="sushiPic">
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>