<!-- Levi Miller, Kayley Young -->
<!-- 3/6/24 -->
<!-- login.html: login page for Master Sushi Chef -->
<!DOCTYPE html>
<html lang="en">
<head>
    <include href="views/header.html"/>
    <title>Login</title>
    <include href="views/NavBar.html"/>
</head>
<body id="loginBody">

<div class="d-flex justify-content-center">
<div class="card" id="loginCard">
    <h2 id="loginTitle">Login</h2>
    <form action="#" method="post" id="loginForm">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <!-- validate the user input -->
        <div class="text-center">
            <check if="{{ isset(@errors['login']) }}">
                <span class="err">{{ @errors['login'] }}</span>
            </check>
        </div>
        <div class="text-center"> <!-- Center the button -->
            <check if="{{ @SESSION['user'] == null }}">
                <input type="submit" name="login" value="Login">
            </check>
            <check if="{{ @SESSION['user'] !== null }}">
                <input type="submit" name="logout" value="Logout">
            </check>
        </div>

        <div>
        <a class="btn nav-link" href="makeAnAccount" id="startAccountButton">Start An Account</a>
</div>
    </form>
</div>


</div>>
</body>
</html>