<!-- Levi Miller, Kayley Young -->
<!-- 3/6/24 -->
<!-- login.html: login page for Master Sushi Chef -->
<!DOCTYPE html>
<html lang="en">
<head>
    <include href="views/header.html"/>
    <title>Login</title>
    <include href="views/NavBar.html"/>
</head>
<body id="loginBody">

<div class="d-flex justify-content-center">
<div class="card" id="loginCard">
    <check if="{{ @SESSION['user'] == null }}">
    <h2 id="loginTitle">Login</h2>
    </check>
<!--Member Information summary-->
    <check if="{{ @SESSION['user'] !== null }}">
        <div id="memberTitle">
            <h2>Member Account</h2>
            <div class="ms-3">
                <check if="{{ @SESSION['user'] instanceof user }}">
                    <p>User: {{ @SESSION.user->getFname() }} {{ @SESSION.user->getLname() }}</p>
                    <p>Email: {{ @SESSION.user->getEmail() }}</p>
                    <p>Phone Number: {{ @SESSION.user->getPhone() }}</p>

                    <check if="{{ @SESSION.user->getUpdatesStatus() }}">
                        <p>Get Updates: Enabled</p>
                    </check>
                </check>
            </div>
        </div>
    </check>
<!--login form-->
    <form action="#" method="post" id="loginForm">
        <check if="{{ @SESSION['user'] == null }}">
            <div class="form-group my-2">
                <label for="username">Username:</label><br>
                <input type="text" class="form-control"  id="username" name="username">
            </div>
            <div class="form-group my-2">
                <label for="password">Password:</label><br>
                <input type="password" class="form-control" id="password" name="password">
            </div>

<!-- validate the user input -->
        <div class="text-center">
            <check if="{{ isset(@errors['login']) }}">
                <span class="err">{{ @errors['login'] }}</span><br>
            </check>
            <input type="submit" class="btn btn-light col-4" name="login" value="Login">
            <a class="btn nav-link" href="makeAnAccount" id="startAccountButton">Start An Account</a>
        </div>
        </check>
        <div class="text-center">

            <check if="{{ @SESSION['user'] !== null }}">
                <a href="rewards" class="btn btn-light mb-3">Check Past Orders</a>
                <input type="submit" class="col-10 btn btn-light" name="logout" value="Logout">
            </check>
        </div>

        <div>

</div>
    </form>
</div>


</div>
</body>
</html>