<!DOCTYPE html>
<html lang="en">
<head>
    <include href="views/header.html" />
    <meta charset="UTF-8">
    <title>Order Here</title>
</head>
<body id="orderBody">
<include href="views/NavBar.html"/>

<div class="container" id="orderOptions">
    <h2><b>Appetizers</b></h2>
    <form action="#" method="post">
        <div class="container" id="apps">
            <div class="row">
                <repeat group="{{ @appetizer }}" value="{{ @item }}">
                    <label class="col-4 my-2">
                        <img src="images/{{ @item['image'] }}" class="img-fluid rounded-5"  alt="{{ ucwords(@item['appname']) }}" height="400" width="400">
                        <h3 class="mt-2">{{ ucwords(@item['appname']) }}</h3>
                        <input type="checkbox" name="appetizer[]" id="{{ @item['appname'] }}" value="{{ @item['appname'] }}" >
                        <p>Price: ${{ @item['price'] }}</p>
                        <p>Description: {{ @item['description'] }}</p>
                    </label>
                </repeat>
            </div>
        </div>
        <h2 id="sushiOrder">Sushi Rolls</h2>
        <label class="container" id="rolls">
            <div class="row">
                <repeat group="{{ @roll }}" value="{{ @item }}">
                    <label class="col-4 my-2">
                        <img src="images/{{ @item['image'] }}" class="img-fluid rounded-5" alt="{{ ucwords(@item['name']) }}" width="400" >
                        <h3 class="mt-2">{{ ucwords(@item['name']) }}</h3>
                        <input type="checkbox" name="roll[]" id="{{ @item['name'] }}" value="{{ @item['name'] }}">
                        <p>Price: ${{ @item['price'] }}</p>
                        <p>Description: {{ @item['description'] }}</p>
                    </label>
                </repeat>
            </div>
        </label>

        <div class="col-md-auto" id="nextButtonContainer">
            <button type="submit" id="nextButton" class="btn btn-primary">Check Out</button>
        </div>
    </form>
</div>
</body>
</html>