<!-- Levi Miller, Kayley Young -->
<!-- 2/25/24 -->
<!-- order.html: order form visual page for Master Sushi Chef -->
<!DOCTYPE html>
<html lang="en">
<head>
    <include href="views/header.html" />
    <title>Order Here</title>
</head>
<body id="orderBody">
<include href="views/NavBar.html"/>

<div class="container" id="orderOptions">
    <h2><b>Appetizers</b></h2>
    <form action="#" method="post">
        <div class="container" id="apps">
            <div class="row">
                <repeat group="{{ @appetizer }}" value="{{ @item }}">
                    <label class="col-4 my-2">
                        <img src="images/{{ @item['image'] }}" class="img-fluid rounded-5"  alt="{{ ucwords(@item['appname']) }}" height="400" width="400">
                        <span class="menuOption">
                            <input type="checkbox" name="appetizer[]" id="{{ @item['value'] }}" value="{{ @item['appname'] }}" data-value="{{ @item['value'] }}">
                            {{ ucwords(@item['appname']) }}
                        </span><br>
                        <span>Price: ${{ @item['price'] }}</span>
                    </label>
                </repeat>
            </div>
        </div>
        <h2 id="sushiOrder"><b>Sushi Rolls</b></h2>
        <div class="container" id="rolls">
            <div class="row">
                <repeat group="{{ @roll }}" value="{{ @item }}">
                    <label class="col-4 my-2">
                        <img src="images/{{ @item['image'] }}" class="img-fluid rounded-5" alt="{{ ucwords(@item['name']) }}" width="400" >
                        <span class="menuOption">
                            <input type="checkbox" name="roll[]" id="{{ @item['value'] }}" value="{{ @item['name'] }}" data-value="{{ @roll['value'] }}">
                            {{ ucwords(@item['name']) }}
                        </span><br>
                        <span>Price: ${{ @item['price'] }}</span>
                    </label>
                </repeat>
            </div>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto" id="nextButtonContainer">
            <button type="submit" id="nextButton" class="btn btn-light">Check Out</button>
        </div>
    </form>
</div>
</body>
</html>