
.image-container{
    padding: 15px;
    height: 100%;
}
#sushiPic{
    padding: 5px;
    height: 100%;
}
.card{
    margin: 25px; !important;
    background-color: #efb0a9 !important;
}

.card-text{
    font-size: 15px !important;
    font-weight: bold;
}
#about{
    font-size: 35px;
    text-align: center;
    margin-top: 15px;
    font-family: fantasy;
}
#orderButton{
    font-family: "Comic Sans MS", serif ;
}
.btn{
     background-color:#efb0a9  !important;
 }
.nav-link {
   font-family: fantasy;
    margin: 10px;
}
#homeBody{
    background-color: #f3b584;
    min-width: fit-content;
    width: 100% !important;
}
#aboutUsText{
    font-weight: bold;
    font-family: fantasy;
}
#rightColum,#leftColum{
    min-width: 500px;
}
.navbar{
    min-width: fit-content;
}
.navbar-nav,.navbar,#navbar-nav{
    background-color: white;
    min-width: fit-content;
}
