.image-container{
    padding: 15px;
    height: 100%;
}
#sushiPic{
    padding: 15px;
    height: 100%;
}
.card{
    margin: 25px; !important;
    background-color: #f6a9a2 !important;
}

.card-text{
    font-size: 15px !important;
}
#about{
    font-size: 35px;
    text-align: center;
}
.btn{
     background-color: #f6a9a2 !important;
 }